# Environnement Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django / SQLite local
nordik/db.sqlite3
nordik/db.sqlite3-journal
nordik/db-*.sqlite3
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
